# Python cache
__pycache__/
*.py[cod]
*$py.class

# build artifacts
dist/
build/
*.egg-info/

# VS Code
.vscode/
!.vscode/settings.json
*.code-workspace

# custom folders
# Ignore everything in data
data/**
# Except txt and csv files
!data/**/*.txt
!data/**/*.csv
!data/**/*.json
weights_arcface/
weights_arcface/**
weights_ce/
weights_ce/**
weightsStackedHourglass/
weightsStackedHourglass/**
