# Python cache
__pycache__/
*.py[cod]
*$py.class

# build artifacts
dist/
build/
*.egg-info/

# VS Code
.vscode/
!.vscode/settings.json
*.code-workspace

# custom folders
data/
data/**
weights_arcface/
weights_arcface/**
weights_ce/
weights_ce/**
weightsStackedHourglass/
weightsStackedHourglass/**
